* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overscroll-behavior-x: none;
  overscroll-behavior-y: none;
}

body {
  font-family: Arial, sans-serif;

}

.nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  background-color: inherit;
  display: grid;
  grid-template-columns: 34% 66%;
  padding: 0 10px;
  z-index: 999;
  background-color: white;
}

.logo-section {
  position: relative;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 50px;
  background-color: white;
  z-index: 1;
}


.logo {
  width: 250px;
  height: 40px;
  align-items: center;
  text-align: center;
  justify-content: center;
  object-fit: contain;
}

.logo img {
  height: 100%;
}

.menu-logo {
  display: none;
  width: 40px;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  background-color: #0e0c0c;
  transition: all 0.3s ease-in-out;
}

.menu-dropdown {
  display: none;
  position: absolute;
  left: 0;
  width: 100%;
  background-color: rgb(114, 100, 100);
  padding: 10px 20px;
  border-top: 1px solid #ddd;
  z-index: -1;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.menu-dropdown.active {
  display: block;
  animation: slideDown 0.7s ease forwards;
}

.menu-dropdown ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-dropdown ul li {
  margin: 10px 0;
}

.menu-dropdown ul li a {
  text-decoration: none;
  color: white;
  font-size: 15px;
  padding: 10px 0;
  transition: color 0.3s ease;
}

@keyframes slideDown {
  from {
    top: -100vh;
    opacity: 1;
  }

  to {
    top: 60px;
    opacity: 1;
  }
}


.left-btn {
  width: 100px;
  height: 35px;
}

.right-btn {
  width: 120px;
  height: 35px;
}

.left-btn button {
  width: 100%;
  height: 100%;
  color: #fff;
  background-color: #0072bc;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  padding: 8px 15px;
  letter-spacing: .7px;
  outline: none;
  border: #0072bc;
  border-radius: 2.67px;
  white-space: nowrap;
}

.right-btn button {
  height: 100%;
  color: #fff;
  background-color: #0072bc;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  padding: 8px 15px;
  letter-spacing: .7px;
  outline: none;
  border: #0072bc;
  border-radius: 2.67px;
  white-space: nowrap;
}

.links-section {
  display: grid;
  grid-template-columns: 80% 20%;
  align-items: center;
  justify-content: flex-start;
}

.links-container {
  font-size: 20px;
  text-align: center;
  margin: 0 20px;
}

.links-container li:hover {
  transform: translateY(-5px);
  transition: transform 0.3s ease;
}

.links-container a:hover {
  color: #0072bc;
}

.links-section ul {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  align-items: center;
  white-space: nowrap;
}

.links-section li {
  display: flex;
  justify-content: center;
  list-style-type: none;
  width: 250px;
  gap: 20px;
}

.links-section li:nth-child(4) {
  width: 100px;
  text-align: center;
}

.links-section a {
  text-decoration: none;
}

@media (max-width:1245px) {
  .links-section a {
    font-size: 15px;
    justify-content: flex-start;
  }

  .logo {
    width: 230px;
    height: 40px;
    align-items: center;
    text-align: center;
    justify-content: center;
    object-fit: contain;
  }
  .logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

@media (max-width:1010px) {
  .links-section a {
    font-size: 15px;
  }

  .right-btn {
    width: 80px;
    height: 35px;
  }

  .logo {
    width: 220px;
    height: 40px;
    align-items: center;
    text-align: center;
    justify-content: center;
    object-fit: contain;
  }

  .logo img {
    width: 100%;
    height: 100%;
  }

  .links-section ul {
    justify-content: center;
  }

  .right-btn button {
    width: 100%;
    height: 100%;
    font-size: 13px;
    padding: 4px 7.5px;
    letter-spacing: .5px;
    white-space: nowrap;
  }

  .left-btn {
    width: 80px;
    height: 35px;
  }

  .left-btn button {
    width: 100%;
    height: 100%;
    font-size: 12px;
    padding: 4px 7.5px;
    letter-spacing: .5px;
    white-space: nowrap;
  }

  .links-section li:nth-child(4) {
    width: 40px;
  }
}

@media (max-width: 840px) {
  .links-section a {
    font-size: 12px;
  }

  .links-section li:nth-child(4) {
    width: unset;
  }

  .right-btn {
    width: 70px;
    height: 35px;
  }

  .right-btn button {
    width: 100%;
    height: 100%;
    font-size: 10px;
    white-space: nowrap;
  }

  .left-btn {
    width: 70px;
    height: 35px;
  }

  .left-btn button {
    width: 100%;
    height: 100%;
    font-size: 10px;
    white-space: nowrap;
  }

  .logo {
    width: 150px;
    height: 40px;
    align-items: center;
    text-align: center;
    justify-content: center;
  }

  .logo img {
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 678px) {
  .links-section ul {
    white-space: unset;
  }

  .links-section a {
    font-size: 14px;
  }

  .right-btn {
    width: 70px;
    height: 35px;
  }

  .left-btn button {
    width: 100%;
    height: 100%;
    font-size: 12px;
    white-space: nowrap;
  }
}

@media (max-width: 610px) {
  .links-section {
    display: none;
  }

  .menu-dropdown {
    width: 97%;
    margin: 0 auto;
    left: 0;
    right: 0;
  }

  .menu-logo {
    display: block;
  }

  .menu-logo.active .bar:nth-child(2) {
    opacity: 0;
  }

  .menu-logo.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .menu-logo.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .bar.active {
    top: 0;
  }

  .nav {
    display: grid;
    grid-template-columns: 100%;
    background: white;
  }

  .logo-section {
    justify-content: flex-start;
    gap: 10px;
  }

  .logo {
    width: 200px;
    height: 40px;
    align-items: center;
    text-align: center;
    justify-content: center;
  }

  .logo img {
    width: 100%;
    height: 100%;
  }

  .left-btn {
    width: 100px;
    height: 35px;
    margin-left: auto;
    padding: 0 5px;
  }

  .left-btn button {
    width: 100%;
    height: 100%;
    font-size: 12px;
    padding: 8px 12px;
    letter-spacing: .7px;
    white-space: nowrap;
  }
}



/* hero-img-section */

.main-section {
  position: relative;
  /* width: 100%; */
  height: auto;
  z-index: -2;
  margin-top: 74px;
  padding: 70px 100px 76px;
  display: grid;
  grid-template-columns: 53% 43%;
  height: 536px;
  gap: 70px;
  background: linear-gradient(180deg, #232323 16.69%, #012f4e 99.97%);
}

.left-section {
  position: relative;
}

.p-tag-top {
  color: #f99600;
  font-size: 24px;
  font-weight: 700;
  margin: 0;
  font-family: 'Times New Roman', Times, serif;
}

.h1-tag-top {
  color: #fff;
  font-weight: 600;
  line-height: normal;
  margin: 10px 0 0;
  text-align: left;
  font-size: 40px;
}

.pfor-main-section {
  font-size: 25px;
  color: #dfdfdf;
  margin-top: 15px;
  padding-right: 120px;
  line-height: 31px;
}

.img-container {
  display: none;
  width: 100%;
}

.no-img {
  display: flex;
  width: 100%;
  height: auto;
}

.no-img img {
  width: 100%;
  height: auto;
  max-height: 413px;
  object-fit: contain;
}

.pfor-main-section-nodispaly {
  font-size: 50px;
  line-height: 5px;
  color: #dfdfdf;
  margin-top: 15px;
  padding-right: 120px;
  line-height: 31px;
}

.gpt-container {
  display: flex;
  gap: 10px;
  background: linear-gradient(90deg, #00406a .08%, transparent 99.89%);
  margin-top: 20px;
  border-radius: 10px 0 0 10px;
  align-items: center;
}

.gpt {
  border-radius: 12px 12px 0 12px;
  background: #0072bc;
  padding: 5px 5px 0;
}

.gpt-ptag {
  color: #35d028;
  font-weight: 700;
  line-height: 153%;
  margin: 0;
}

.btn-container {
  display: flex;
  gap: 20px;
  margin: 30px 0 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.white-bg-btn {
  padding: 12px 20px;
  border: 1px solid #0072bc;
  color: #0072bc;
  cursor: pointer;
  display: flex;
  gap: 5px;
  outline: none;
  align-items: center;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 800;
}

.white-bg-btn svg {
  height: 16px;
  width: 19px;
}

.blue-bg-btn {
  padding: 12px 30px;
  background-color: #0072bc;
  color: #fff;
  cursor: pointer;
  display: flex;
  gap: 5px;
  outline: none;
  align-items: center;
  border-radius: 4px;
  font-size: 16px;
  flex-flow: row;
  border: 1px solid transparent;
  transition: color 0.3s, background-color 0.3s, border-color 0.3s;
}

.blue-bg-btn:hover {
  color: #0072bc;
  background-color: white;
  border-color: #0072bc;
}

.blue-bg-btn:hover {
  color: #0072bc;
  background-color: white;
}

.right-img {
  height: 100%;
  object-fit: contain;
}

.right-img img {
  width: 100%;
  height: auto;
  max-height: 413px;
  object-fit: contain;
}


@media (max-width: 1282px) {
  .main-section {
    height: auto;
    gap: 20px;
    padding: 59px 27px 49px;
  }
  .left-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding:0px 31px 49px;
  }

  .h1-tag-top {
    font-size: 25px;
  }

  .pfor-main-section {
    padding-right: 0;
    font-size: 21px;
  }

  .right-img img {
    max-width: 100%;
  }

}

@media (max-width:928px) {
  .h1-tag-top {
    font-size: 21px;
  }

  .pfor-main-section {
    font-size: 17px;
  }
  .white-bg-btn {
    padding: 9px 11px;
  }

  .blue-bg-btn {
    padding: 11px 9px;
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .main-section {
    grid-gap: 20px;
    padding: 20px;
    height: auto;
  }

  .pfor-main-section-nodispaly {
    display: none;
  }

  .left-section {
    text-align: center;
  }

  .h1-tag-top {
    font-size: 18px;
    text-align: center;
  }
  .p-tag-top{
    font-size: 21px;
  }
  .pfor-main-section {
    padding-right: 0;
    line-height: normal;
    font-size: 15px;
  }

  .white-bg-btn {
    padding: 9px 8px;
    font-size: 14px;
  }

  .blue-bg-btn {
    padding: 10px 9px;
    font-size: 13px;
  }

  .right-img img {
    max-width: 100%;
    height: auto;
    width: 100%;
  }

  .gpt-ptag {
    font-size: 13px;
  }

}

@media (max-width: 640px) {
  .main-section {
    padding: 20px;
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }

  .right-section {
    display: block;
  }

  .img-container {
    display: block;
  }

  .h1-tag-top {
    font-size: 28px;
  }

  .pfor-main-section {
    font-size: 18px;
    padding-right: 0;
  }

  .right-img {
    display: none;
  }

  .no-img {
    margin-top: 12px;
  }

  .btn-container {
    justify-content: center;
  }

  .gpt-ptag {
    font-size: 12px;
  }

  .blue-bg-btn {
    padding: 12px 10px;
    font-size: 12px;
    white-space: nowrap;
  }
}

@media (max-width:330px) {

  .btn-container {
    justify-content: center;
  }

  .gpt-ptag {
    justify-content: flex-start;
  }
}


/* main-home */


.main-home {
  display: grid;
  grid-template-rows: 1fr 1fr;
  padding: 0px 59px 1px 81px;
  text-align: center;
  height: 133px;
}

.main-home p {
  font-size: 24px;
  font-weight: 700;
  margin-top: 20px;
}

.main-home span {
  color: #2db621;
}

.micropaywalpay {
  margin-top: 20px;
  padding: 0 20px;
}

.micro-paypal {
  display: flex;
  width: 100%;
}

.micro-paypal img {
  width: 100%;
  height: auto;
}

.micro-paypal-mobile {
  display: none;
}

.micro-paypal-mobile img {
  width: 100%;
  height: auto;
}

@media (max-width:641px) {
  .main-home{
    margin-top: 20px;
  }
  .micro-paypal {
    display: none;
  }

  .micro-paypal-mobile {
    display: block;
  }

  .micro-paypal-mobile img {
    width: 100%;
  }
}

@media (max-width:321px) {
  .micro-paypal {
    display: none;
  }

  .micro-paypal-mobile {
    display: block;
  }

  .micro-paypal-mobile img {
    width: 100%;
    height: auto;
  }
}

/* carousle */

.grid-container{
  margin: 0 5%;
  height: auto;
  margin-top: 50px;
}
.carousel-container {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 450px; 
}
.carousel {
  display: flex;
  transition: transform 0.5s ease;
  height: 100%;
  gap: 20px; 
  margin-left: 20px;
  cursor: pointer;
}
  

.card{
  min-width: calc(31.33%);
  text-align: center; 
}
.img-container-xyz{
  object-fit: contain;
  position: relative;
  width: 90%;
  height: auto;
}
.img-container-xyz img{
  width: 100%;
  height: 100%;
}
.paraDiv{
  width: 85%;
  transform: translateY(-14px);
  margin: 0px 3px 0px 4%;
  height: auto;
  border: 1px solid #ccc;
  border-radius: 0 0 20px 20px;
  
}
.h5tags{
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 60px;
  padding: 5px;
  background: white;
}
.h5tags h5{
  font-size: 20px;
}
.hrtag1{
  width: 100%;
  color: #ccc;
  border: 1px solid #ccc;
}
.paraDiv-Child{
  position: relative;
  width: 100%;
  height: auto;
}
.svg-container{
  width: 100%;
  text-align: center;
  margin-bottom: 8px;
  margin-top: 5px;
}
.svg-p{
 width: 100%;
 background: white;
 text-align: center;
 height: 30px;
}
.svg-p p{
  width: 100%;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: flex-start;
  margin-left: 20px;
  font-size: 16px;
  font-weight: 100;
  height: 30px;
  color: #706060;
  gap: 10px;
  white-space: nowrap;
  margin-bottom: 4px;
}
.svg-p svg{
  color: blue;
  height: auto;
}
.hrtag2{
  width: 100%;
  color: #ccc;
 
}
.carousel-btn-Div{
  display: flex;
  justify-content: center;
  width: 100%;
  height: 50px;
}
.carousel-btn-white,.carousel-btn-blue{
  width: 100%;
  gap: 0;
  margin-top: 0;
}
.carousel-btn-white{
  border-radius: 0 0 0 20px;
  border: none;
  background: white;
  color: #2979AD;
  font-size: 15px;
  font-weight: 800;
}
.carousel-btn-blue{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 5px;
  border-radius: 0 0 20px 0px;
  border: none;
  background: #2979AD;
  color: white;
  font-size: 15px;
  font-weight: 500; 
}

.carousel-controls{
  display: flex;
  justify-content: center;
  position: relative;
  gap: 10px;
  bottom: 10px;
  width: 100%;
  margin-top: 30px;
}

.carousel-controls label {
  display: block;
  width: 10px; 
  height: 10px; 
  background-color: #ddd;
  border-radius: 50%; 
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.carousel-controls input[type="radio"] {
  display: none; 
}
.carousel-container::-webkit-scrollbar {
  display: none;
 
}

.carousel-container.dragging .card {
  cursor: grab;
  user-select: none;
  
}

.carousel-container.dragging {
  scroll-snap-type: none;
  scroll-behavior: auto;
}

@media (max-width:1159px) {
  .h5tags{
    height: 50px;
  }
  .h5tags h5{
      font-size: 14px;
  }
  .svg-p{
    height: 25px;
  }
  .svg-p p{
      margin-left: 3px;
      gap: 5px;
      font-size: 13px;
  }
  .carousel-btn-white, .carousel-btn-blue{
      font-size: 10px;
  }
  .carousel-container {
      height: 100%; 
  }
}
@media (max-width:840px) {
  .h5tags{
    height: 40px;
  }
  .h5tags h5{
      font-size: 10px;
  }
  .svg-p{
    height: 20px;
  }
  .svg-p p{
      height: 20px;
      gap: 2px;
      font-size: 10px;
  }
  .carousel-btn-white, .carousel-btn-blue{
      font-size: 8px;
  }
 .carousel-btn-Div{
  height: 35px;
 }
 .carousel-container {
  height: 100%; 
}
.carousel{
  gap: 10px;
}
.svg-container{
  margin: 0;
}
}
@media (max-width:641px) {
  .carousel{
    gap: 2px;
  }
  .card{
      min-width: calc(50%); 
      height: 100%; 
      margin-top: 10px;
  }
  .img-container-xyz{
    object-fit: contain;
    position: relative;
  }
  .h5tags{
    height: 40px;
  }
  .h5tags h5{
      font-size: 13px;
  }
  .svg-p{
    height: 20px;
  }
  .svg-p p{
      gap: 5px;
      font-size: 10px;
  }
  .carousel-btn-Div{
      height: 35px;
  }
  .carousel-btn-white, .carousel-btn-blue{
      font-size: 10px;
  }
  .carousel-container {
    height: 100%; 
}
}
@media (max-width:398px) {
  .card{
    min-width: calc(100%); 
    height: 100%; 
}
 
  .h5tags{
    height: 40px;
  }
  .h5tags h5{
    font-size: 15px;
}
.svg-p{
  height: 30px;
}
.svg-p p{
    margin-left: 3px;
    gap: 5px;
    font-size: 15px;
}
.carousel-btn-Div{
  height: 40px;
}
.carousel-btn-white, .carousel-btn-blue{
    font-size: 12px;
    height: 40px;
}

}

.abc-cards{
  margin: 0 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  background: white;
  padding: 0 0 0 33px;
}

.card-section-paraDiv2{
  display: flex;
  flex-direction: row;
  overflow: hidden;
  gap: 20px;
}
.popular{
  display: flex;
  width: 100%;
  height: 50px;
  align-items: center;
  
}
.popular h4{
  font-size: 30px;
  font-weight: 600;
}
.card2-section{
  display: flex;
  background: white;
  height: 100%;
  width: 100%;
  margin-right: 36px;
  margin-top: 20px;
  justify-content: center;
}
.img-container-xyz2{
  object-fit: contain;
  position: relative;
  width: 90%;
  height: auto;
}
.img-container-xyz2 img{
  width: 100%;
  height: 100%;
}
.paraDiv2{
  width: 85%;
  transform: translateY(-14px);
  margin: 0px 3px 0px 4%;
  height: auto;
  border: 1px solid #ccc;
  border-radius: 0 0 20px 20px;
  
}
.h5tags2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 60px;
  padding: 5px;
  background: white;
}
.h5tags2 h5{
  font-size: 15px;
}
.hrtag2-2{
  height: 1px;
  color: #ddd;
  position: relative;
}
.paraDiv-Child2{
  position: relative;
  width: 100%;
  height: 100%;
  margin-top: -6px;
}

.svg-container2{
  width: 100%;
  text-align: center;
  margin-bottom: 8px;
  margin-top: 5px;
}
.svg-p2{
 width: 100%;
 background: white;
 text-align: center;
 height: 30px;
}
.svg-p2 p{
  width: 100%;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: flex-start;
  margin-left: 20px;
  font-size: 15px;
  font-weight: 100;
  height: 30px;
  color: #706060;
  gap: 10px;
  white-space: nowrap;
  margin-bottom: 4px;
}
.svg-p2 svg{
  color: blue;
  height: auto;
}
.hrtag2-2{
  width: 100%;
  color: #ccc;
 
}
.carousel-btn-Div2{
  display: flex;
  justify-content: center;
  width: 100%;
  height: 50px;
}
.carousel-btn-white2,.carousel-btn-blue2{
  width: 100%;
  gap: 0;
  margin-top: 0;
}
.carousel-btn-white2{
  border-radius: 0 0 0 20px;
  border: none;
  background: white;
  color: #2979AD;
  font-size: 15px;
  font-weight: 800;
}
.carousel-btn-blue2{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 5px;
  border-radius: 0 0 20px 0px;
  border: none;
  background: #2979AD;
  color: white;
  font-size: 15px;
  font-weight: 500; 
}
@media (max-width:1159px) {
  .card2-section{
    margin-right: unset;
  }
  .h5tags2{
    height: 50px;
  }
  .h5tags2 h5{
      font-size: 14px;
  }
  .carousel-btn-Div2{
    height: 100%;
  }
  .svg-p2{
    height: 25px;
  }
  .svg-p2 p{
      margin-left: 1px;
      gap: 5px;
      font-size: 13px;
  }
  .carousel-btn-white2, .carousel-btn-blue2{
      font-size: 10px;
      height: 40px;
  }
 
}
@media (max-width:840px) {
  .h5tags2{
    height: 40px;
  }
  .h5tags2 h5{
      font-size: 10px;
  }
  .svg-p2{
    height: 20px;
  }
  .svg-p2 p{
      height: 20px;
      gap: 2px;
      font-size: 10px;
  }
  .carousel-btn-white2, .carousel-btn-blue2{
      font-size: 10px;
      
  }
 
  .carousel-btn-Div2{
  height: 100%;

 }
}
@media (max-width:641px) {
  .card2:nth-child(3){
    display: none;
  }
  .img-container-xyz2{
    object-fit: contain;
    position: relative;
  }
  .h5tags2{
    height: 30px;
  }
  .h5tags2 h5{
      font-size: 10px;
  }
  .svg-p2{
    height: 20px;
  }
  .svg-p2 p{
      gap: 5px;
      font-size: 10px;
  }
  .carousel-btn-Div2{
      height: 35px;
      height: 100%;
  }
  .carousel-btn-white2, .carousel-btn-blue2{
      font-size: 8px;
  }
}
@media (max-width:398px) {

  .card2:nth-child(2){
    display: none;
  }
  .card2-section{
    min-width: 100%;
  }
  .h5tags2{
    height: 40px;
  }
  .h5tags2 h5{
    font-size: 14px;
}
.svg-p2{
  height: 30px;
}
.svg-p2 p{
    margin-left: 3px;
    gap: 5px;
    font-size: 15px;
}
.carousel-btn-Div2{
  height: 100%;
}
.carousel-btn-white2, .carousel-btn-blue2{
    font-size: 10px;
    height: 40px;
}
.popular{
  justify-content: center;
}

}



.animation-section{
  margin: 0 6%;
  display: grid;
  grid-template-columns: 55% 45%;
  justify-content: center;
  margin-top: 100px;
}
.whyclup-ParaDiv{
  display: grid;
  grid-template-columns: 21% 21% 22%;
  grid-gap: 80px;
  gap: 80px;
}
.whyclUp{
  margin-bottom: 100px;
}
.whyclup-h3{
  margin: 0;
  font-size: 36px;
  font-weight: 700;
  background: linear-gradient(90deg, #414141 28.42%, #905a08 82.05%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.whyclup-p p{
   color: #414141;
   font-size: 20px;
    margin-right: 150px;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 50px;
}
.WhyLearnbay_OrangeText{
  color: #fe7a36;
  font-size: 22px;
  font-weight: 700;
  margin-top: 18px;
  white-space: nowrap;
}
.WhyLearnbay_OrangeTextbot{
  margin: 0;
  color: #2b2b2b;
  font-style: normal;
  font-weight: 400;
  line-height: 148.5%;
  font-size: 17px;
  white-space: nowrap;
}
.whyclup-imgbox{
  padding: 20px 24px;
  width: fit-content;
  align-items: center;
  display: flex;
  justify-content: center;
  border-radius: 6.956px;
  border: 1.159px solid #fe7a36;
  background: rgba(249, 150, 0, .06);
  box-shadow: 0 0 4.637px 0 rgba(0, 0, 0, .25);
}
.animation-container{
  margin: auto auto 0;
}
.imgboy{
  z-index: 1;
  position: relative;
}
.imgboy img{
  margin-bottom: -345px;
  z-index: 1;
  margin-left: -25px;
}
.imgEarth{
  display: flex;
  justify-content: flex-end;
  overflow: hidden;
  height: 340px;
  width: 340px ;
  margin-left: 25px;
}
.imgEarth img{
  will-change: transform;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 1s ease-in-out;
  animation:  rotate 20s linear infinite;
  margin-top: 175px;
}
@keyframes rotate {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}
@media (max-width:1230px) {
  .whyclup-h3{
    font-size: 30px;
  }
  .whyclup-p p{
    font-size: 14px;
  }
  .WhyLearnbay_OrangeText{
    font-size: 18px;
  }
}
@media (max-width:960px) {
  .whyclup-h3{
    font-size: 25px;
  }
  .WhyLearnbay_OrangeText{
    font-size: 15px;
  }
  .WhyLearnbay_OrangeTextbot{
    font-size: 12px;
  }
  
}


 /* work on real project with Learnbay’s ProjectLab */
 .projectWithLearnbay{
  padding: 50px 100px 30px;
  background: linear-gradient(270deg, #fff -4.52%, #eae9e9 50.41%, #fff 102.11%);
}
.project_section_h4{
  text-align: center;
  font-size: 36px;
}
.Project_section_sapn{
  color: #f99600;
}
.project_section_innerBoxs{
  display: grid;
  grid-template-columns: 46% 46%;
  grid-gap: 70px;
  gap: 70px;
  margin: 50px 200px 0;
}
.project_section_innerBox1{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 12.56px;
  background-color: #FFFFFF;
  opacity: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 120px;
}
.project_section_innerBox1-img{
  margin: auto;
  height: auto;
  width: 100%;
  
}
.project_section_innerBox1-img img{
  width: 100%;
  padding: 20px;
  object-fit: cover;
}
.project_section_innerBox1-p{
  color: #0072bc;
  font-size: 28px;
  font-weight: 700;
  margin: 10px 20px;
  
}
.project_section_para_bod_p{
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 15px;
  margin-left: 20px;
  margin-bottom: 20px;
}
.project_section_para_bod_p1{
  display: grid;
  grid-template-columns: 5% 92%;
  gap: 5px;
  margin-bottom: 20px;
  color: #7d7272;
  font-weight: 200;
}
.project_section_para_bod_p1 svg{
  margin-top: 5px;
  color: #20a898;
}
.project_section_innerBox2{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 12.56px;
  background-color: #FFFFFF;
  opacity: 5px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}