* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overscroll-behavior-x: none;
  overscroll-behavior-y: none;
}

body {
  font-family: Arial, sans-serif;
}

.nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  background-color: inherit;
  display: grid;
  grid-template-columns: 34% 66%;
  padding: 0 10px;
  z-index: 999;
  background-color: white;
}

.logo-section {
  position: relative;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 50px;
  background-color: white;
  z-index: 1;
}


.logo {
  width: 250px;
  height: 40px;
  align-items: center;
  text-align: center;
  justify-content: center;
  object-fit: contain;
}

.logo img {
  height: 100%;
}

.menu-logo {
  display: none;
  width: 40px;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  background-color: #0e0c0c;
  transition: all 0.3s ease-in-out;
}

.menu-dropdown {
  display: none;
  position: absolute;
  left: 0;
  width: 100%;
  background-color: rgb(114, 100, 100);
  padding: 10px 20px;
  border-top: 1px solid #ddd;
  z-index: -1;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.menu-dropdown.active {
  display: block;
  animation: slideDown 0.7s ease forwards;
}

.menu-dropdown ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-dropdown ul li {
  margin: 10px 0;
}

.menu-dropdown ul li a {
  text-decoration: none;
  color: white;
  font-size: 15px;
  padding: 10px 0;
  transition: color 0.3s ease;
}

@keyframes slideDown {
  from {
    top: -100vh;
    opacity: 1;
  }

  to {
    top: 60px;
    opacity: 1;
  }
}


.left-btn {
  width: 100px;
  height: 35px;
}

.right-btn {
  width: 120px;
  height: 35px;
}

.left-btn button {
  width: 100%;
  height: 100%;
  color: #fff;
  background-color: #0072bc;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  padding: 8px 15px;
  letter-spacing: .7px;
  outline: none;
  border: #0072bc;
  border-radius: 2.67px;
  white-space: nowrap;
}

.right-btn button {
  width: 100%;
  height: 100%;
  color: #fff;
  background-color: #0072bc;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  padding: 8px 15px;
  letter-spacing: .7px;
  outline: none;
  border: #0072bc;
  border-radius: 2.67px;
  white-space: nowrap;
}

.links-section {
  display: grid;
  grid-template-columns: 80% 20%;
  align-items: center;
  justify-content: flex-start;
}

.links-container {
  font-size: 20px;
  text-align: center;
  margin: 0 20px;
}

.links-container li:hover {
  transform: translateY(-5px);
  transition: transform 0.3s ease;
}

.links-container a:hover {
  color: #0072bc;
}

.links-section ul {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  align-items: center;
  white-space: nowrap;
}

.links-section li {
  display: flex;
  justify-content: center;
  list-style-type: none;
  width: 250px;
  gap: 20px;
}

.links-section li:nth-child(4) {
  width: 100px;
  text-align: center;
}

.links-section a {
  text-decoration: none;
}

@media (max-width:1245px) {
  .links-section a {
    font-size: 18px;
  }

  .logo {
    width: 230px;
    height: 40px;
    align-items: center;
    text-align: center;
    justify-content: center;
    object-fit: contain;
  }

  .logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

@media (max-width:1010px) {
  .links-section a {
    font-size: 15px;
  }

  .right-btn {
    width: 80px;
    height: 35px;
  }

  .logo {
    width: 220px;
    height: 40px;
    align-items: center;
    text-align: center;
    justify-content: center;
    object-fit: contain;
  }

  .logo img {
    width: 100%;
    height: 100%;
  }

  .links-section ul {
    justify-content: center;
  }

  .right-btn button {
    width: 100%;
    height: 100%;
    font-size: 13px;
    padding: 4px 7.5px;
    letter-spacing: .5px;
    white-space: nowrap;
  }

  .left-btn {
    width: 80px;
    height: 35px;
  }

  .left-btn button {
    width: 100%;
    height: 100%;
    font-size: 12px;
    padding: 4px 7.5px;
    letter-spacing: .5px;
    white-space: nowrap;
  }

  .links-section li:nth-child(4) {
    width: 40px;
  }
}

@media (max-width: 840px) {
  .links-section a {
    font-size: 12px;
  }

  .links-section li:nth-child(4) {
    width: unset;
  }

  .right-btn {
    width: 70px;
    height: 35px;
  }

  .right-btn button {
    width: 100%;
    height: 100%;
    font-size: 10px;
    white-space: nowrap;
  }

  .left-btn {
    width: 70px;
    height: 35px;
  }

  .left-btn button {
    width: 100%;
    height: 100%;
    font-size: 10px;
    white-space: nowrap;
  }

  .logo {
    width: 150px;
    height: 40px;
    align-items: center;
    text-align: center;
    justify-content: center;
  }

  .logo img {
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 678px) {
  .links-section ul {
    white-space: unset;
  }

  .links-section a {
    font-size: 14px;
  }

  .right-btn {
    width: 70px;
    height: 35px;
  }

  .left-btn button {
    width: 100%;
    height: 100%;
    font-size: 12px;
    white-space: nowrap;
  }
}

@media (max-width: 610px) {
  .links-section {
    display: none;
  }

  .menu-dropdown {
    width: 97%;
    margin: 0 auto;
    left: 0;
    right: 0;
  }

  .menu-logo {
    display: block;
  }

  .menu-logo.active .bar:nth-child(2) {
    opacity: 0;
  }

  .menu-logo.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .menu-logo.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .bar.active {
    top: 0;
  }

  .nav {
    display: grid;
    grid-template-columns: 100%;
    background: white;
  }

  .logo-section {
    justify-content: flex-start;
    gap: 10px;
  }

  .logo {
    width: 200px;
    height: 40px;
    align-items: center;
    text-align: center;
    justify-content: center;
  }

  .logo img {
    width: 100%;
    height: 100%;
  }

  .left-btn {
    width: 100px;
    height: 35px;
    margin-left: auto;
    padding: 0 5px;
  }

  .left-btn button {
    width: 100%;
    height: 100%;
    font-size: 12px;
    padding: 8px 12px;
    letter-spacing: .7px;
    white-space: nowrap;
  }
}



/* hero-img-section */

.main-section {
  position: relative;
  width: 100%;
  height: auto;
  z-index: -2;
  margin-top: 70px;
  padding: 70px 100px 76px;
  display: grid;
  grid-template-columns: 53% 43%;
  height: 536px;
  grid-gap: 50px;
  gap: 50px;
  background: linear-gradient(180deg, #232323 16.69%, #012f4e 99.97%);
}

.left-section {
  position: relative;
}

.p-tag-top {
  color: #f99600;
  font-size: 24px;
  font-weight: 700;
  margin: 0;
  font-family: 'Times New Roman', Times, serif;
}

.h1-tag-top {
  color: #fff;
  font-weight: 600;
  line-height: normal;
  margin: 10px 0 0;
  text-align: left;
  font-size: 45px;
}

.pfor-main-section {
  font-size: 25px;
  color: #dfdfdf;
  margin-top: 15px;
  padding-right: 120px;
  line-height: 31px;
}

.img-container {
  display: none;
  width: 100%;
}

.no-img {
  display: flex;
  width: 100%;
  height: auto;
}

.no-img img {
  width: 100%;
  height: auto;
  max-height: 413px;
  object-fit: contain;
}

.pfor-main-section-nodispaly {
  font-size: 50px;
  line-height: 5px;
  color: #dfdfdf;
  margin-top: 15px;
  padding-right: 120px;
  line-height: 31px;
}

.gpt-container {
  display: flex;
  gap: 10px;
  background: linear-gradient(90deg, #00406a .08%, transparent 99.89%);
  margin-top: 20px;
  border-radius: 10px 0 0 10px;
  align-items: center;
}

.gpt {
  border-radius: 12px 12px 0 12px;
  background: #0072bc;
  padding: 5px 5px 0;
}

.gpt-ptag {
  color: #35d028;
  font-weight: 700;
  line-height: 153%;
  margin: 0;
}

.btn-container {
  display: flex;
  gap: 20px;
  margin: 30px 0 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.white-bg-btn {
  padding: 12px 20px;
  border: 1px solid #0072bc;
  color: #0072bc;
  cursor: pointer;
  display: flex;
  gap: 5px;
  outline: none;
  align-items: center;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 800;
}

.white-bg-btn svg {
  height: 16px;
  width: 19px;
}

.blue-bg-btn {
  padding: 12px 30px;
  background-color: #0072bc;
  color: #fff;
  cursor: pointer;
  display: flex;
  gap: 5px;
  outline: none;
  align-items: center;
  border-radius: 4px;
  font-size: 16px;
  flex-flow: row;
  border: 1px solid transparent;
  transition: color 0.3s, background-color 0.3s, border-color 0.3s;
}

.blue-bg-btn:hover {
  color: #0072bc;
  background-color: white;
  border-color: #0072bc;
}

.blue-bg-btn:hover {
  color: #0072bc;
  background-color: white;
}

.right-img {
  height: 100%;
  object-fit: contain;
}

.right-img img {
  width: 100%;
  height: auto;
  max-height: 413px;
  object-fit: contain;
}


@media (max-width: 1282px) {
  .main-section {
    grid-gap: 20px;
    padding: 20px;
    height: auto;
  }

  .left-section {
    justify-content: center;
  }

  .h1-tag-top {
    font-size: 30px;
  }

  .pfor-main-section {
    padding-right: 0;
    font-size: 21px;
  }

  .right-img img {
    max-width: 100%;
  }

}

@media (max-width:928px) {
  .h1-tag-top {
    font-size: 27px;
  }

  .pfor-main-section {
    font-size: 19px;
  }

  .right-img img {
    margin: 29;
  }

  .white-bg-btn {
    padding: 9px 11px;
  }

  .blue-bg-btn {
    padding: 11px 9px;
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .main-section {
    grid-gap: 20px;
    padding: 20px;
    height: auto;
  }

  .pfor-main-section-nodispaly {
    display: none;
  }

  .left-section {
    text-align: center;
  }

  .h1-tag-top {
    font-size: 20px;
    text-align: center;
  }

  .pfor-main-section {
    padding-right: 0;
    line-height: normal;
    font-size: 15px;
  }

  .white-bg-btn {
    padding: 9px 8px;
    font-size: 14px;
  }

  .blue-bg-btn {
    padding: 10px 9px;
    font-size: 13px;
  }

  .right-img img {
    max-width: 100%;
    height: auto;
    width: 100%;
  }

  .gpt-ptag {
    font-size: 13px;
  }

}

@media (max-width: 640px) {
  .main-section {
    padding: 20px;
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }

  .right-section {
    display: block;
  }

  .img-container {
    display: block;
  }

  .h1-tag-top {
    font-size: 28px;
  }

  .pfor-main-section {
    font-size: 18px;
    padding-right: 0;
  }

  .right-img {
    display: none;
  }

  .no-img {
    margin-top: 12px;
  }

  .btn-container {
    justify-content: center;
  }

  .gpt-ptag {
    font-size: 12px;
  }

  .blue-bg-btn {
    padding: 12px 10px;
    font-size: 12px;
    white-space: nowrap;
  }
}

@media (max-width:330px) {

  .btn-container {
    justify-content: center;
  }

  .gpt-ptag {
    justify-content: flex-start;
  }
}


/* main-home */


.main-home {
  width: 100%;
  margin-top: 0 5%;
  text-align: center;
  padding: 20px;
}

.main-home p {
  font-size: 24px;
  font-weight: 700;
}

.main-home span {
  color: #2db621;
}

.micropaywalpay {
  margin-top: 20px;
  padding: 0 20px;
}

.micro-paypal {
  display: flex;
  width: 100%;
}

.micro-paypal img {
  width: 100%;
  height: auto;
}

.micro-paypal-mobile {
  display: none;
}

.micro-paypal-mobile img {
  width: 100%;
  height: auto;
}

@media (max-width:641px) {
  .micro-paypal {
    display: none;
  }

  .micro-paypal-mobile {
    display: block;
  }

  .micro-paypal-mobile img {
    width: 100%;
  }
}

@media (max-width:321px) {
  .micro-paypal {
    display: none;
  }

  .micro-paypal-mobile {
    display: block;
  }

  .micro-paypal-mobile img {
    width: 100%;
    height: auto;
  }
}

/* carousle */

.grid-container{
  margin: 0 5%;
  height: auto;
  margin-top: 50px;
}
.carousel-container {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 450px; 
}
.carousel {
  display: flex;
  transition: transform 0.5s ease;
  height: 100%;
  gap: 20px; 
  cursor: pointer;
}
  

.card{
  min-width: calc(31.33%);
  text-align: center;
  
}
.img-container-xyz{
  object-fit: contain;
  position: relative;
  width: 100%;
  height: auto;
}
.img-container-xyz img{
  width: 100%;
  height: 100%;
}
.paraDiv{
  transform: translateY(-14px);
  margin: 0px 3px 0px 4%;
  height: auto;
  border: 1px solid #ccc;
  border-radius: 0 0 20px 20px;
  
}
.h5tags{
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 60px;
  padding: 5px;
  background: white;
}
.h5tags h5{
  font-size: 20px;
}
.hrtag1{
  width: 100%;
  color: #ccc;
  border: 1px solid #ccc;
}
.paraDiv-Child{
  position: relative;
  width: 100%;
  height: auto;
}
.svg-container{
  width: 100%;
  text-align: center;
  margin-bottom: 8px;
  margin-top: 5px;
}
.svg-p{
 width: 100%;
 background: white;
 text-align: center;
 height: 30px;
}
.svg-p p{
  width: 100%;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: flex-start;
  margin-left: 20px;
  font-size: 18px;
  font-weight: 100;
  height: 30px;
  color: #706060;
  gap: 10px;
  white-space: nowrap;
  margin-bottom: 4px;
}
.svg-p svg{
  color: blue;
  height: auto;
}
.hrtag2{
  width: 100%;
  color: #ccc;
 
}
.carousel-btn-Div{
  display: flex;
  justify-content: center;
  width: 100%;
  height: 50px;
}
.carousel-btn-white,.carousel-btn-blue{
  width: 100%;
  gap: 0;
  margin-top: 0;
}
.carousel-btn-white{
  border-radius: 0 0 0 20px;
  border: none;
  background: white;
  color: #2979AD;
  font-size: 15px;
  font-weight: 800;
}
.carousel-btn-blue{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 5px;
  border-radius: 0 0 20px 0px;
  border: none;
  background: #2979AD;
  color: white;
  font-size: 15px;
  font-weight: 500; 
}

.carousel-controls{
  display: flex;
  justify-content: center;
  position: relative;
  gap: 10px;
  bottom: 10px;
  width: 100%;
  margin-top: 30px;
}

.carousel-controls label {
  display: block;
  width: 10px; 
  height: 10px; 
  background-color: #ddd;
  border-radius: 50%; 
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.carousel-controls input[type="radio"] {
  display: none; 
}
.carousel-container::-webkit-scrollbar {
  display: none;
}

.carousel-container.dragging .card {
  cursor: grab;
  user-select: none;
}

.carousel-container.dragging {
  scroll-snap-type: none;
  scroll-behavior: auto;
}

@media (max-width:1159px) {
  .h5tags{
    height: 50px;
  }
  .h5tags h5{
      font-size: 14px;
  }
  .svg-p{
    height: 25px;
  }
  .svg-p p{
      margin-left: 3px;
      gap: 5px;
      font-size: 13px;
  }
  .carousel-btn-white, .carousel-btn-blue{
      font-size: 10px;
  }
  .carousel-container {
      height: 380px; 
  }
}
@media (max-width:840px) {
  .h5tags{
    height: 40px;
  }
  .h5tags h5{
      font-size: 10px;
  }
  .svg-p{
    height: 20px;
  }
  .svg-p p{
      height: 20px;
      gap: 2px;
      font-size: 10px;
  }
  .carousel-btn-white, .carousel-btn-blue{
      font-size: 8px;
  }
 .carousel-btn-Div{
  height: 35px;
 }
 .carousel-container {
  height: 300px; 
}
.carousel{
  gap: 10px;
}
.svg-container{
  margin: 0;
}
}
@media (max-width:641px) {
  .carousel{
    gap: 2px;
  }
  .card{
      min-width: calc(50%); 
      height: 250px; 
  }
  .img-container-xyz{
    object-fit: contain;
    position: relative;
  }
  .h5tags{
    height: 40px;
  }
  .h5tags h5{
      font-size: 13px;
  }
  .svg-p{
    height: 20px;
  }
  .svg-p p{
      gap: 5px;
      font-size: 10px;
  }
  .carousel-btn-Div{
      height: 35px;
  }
  .carousel-btn-white, .carousel-btn-blue{
      font-size: 10px;
  }
  .carousel-container {
    height: 300px; 
}
}
@media (max-width:398px) {
  .card{
    min-width: 100%;
  }
  .card{
    height: 280px;
  }
  .carousel-container {
    height: 380px; 
  }
  .h5tags{
    height: 40px;
  }
  .h5tags h5{
    font-size: 14px;
}
.svg-p{
  height: 30px;
}
.svg-p p{
    margin-left: 3px;
    gap: 5px;
    font-size: 13px;
}
.carousel-btn-Div{
  height: 50px;
}
.carousel-btn-white, .carousel-btn-blue{
    font-size: 15px;
    height: 100%;
}

}

.abc-cards{
  margin: 0 5%;
  height: 500px;
  background: white;
 overflow: hidden;
}
.popular{
  display: flex;
  width: 100%;
  height: 50px;
  align-items: center;
}
.popular h4{
  font-size: 30px;
  font-weight: 600;
  margin-left: 15px;
}
.card2-section{
  background: white;
  height: 500px;
  display: flex;
  min-width: calc(33.33%);
  gap: 20px;
}
@media (max-width:641px) {
  .card2{
    min-width: 50%;
  }
}
@media (max-width:398px) {
  .card2{
    min-width: 100%;
  }
}